/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

/* START : Stylisation du header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffaf7;
    padding-bottom: 22px;
    padding-top: 22px;
}
    
.headerLeft {
    display: flex;
    align-items: center;
    margin-left: 120px;
    padding-left: 120px;
    column-gap: 15px;
}

.headerList {
    margin-right: 250px;
}

.list-links {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    column-gap: 40px;
    margin-right: 250px;
}

.logo {
    width: 72px;
    height: 81px;
}

.menu {
    width: 28px;
    height: 22px;
}
    
.icon-don, .icon-, .icon-adoption, .icon-maltraitance, .icon-check, .icon-check,
 .icon-user, .icon-map, .icon-coeur, .icon-search {
    width: 17px;
    height: 22px;
}
    


    




    












    


    
    
    



    
    


   



    

    







