/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* START : Stylisation du header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffaf7;
    padding-bottom: 22px;
    padding-top: 22px;
}
    
.header_left {
    display: flex;
    align-items: center;
    margin-left: 120px;
    padding-left: 120px;
    column-gap: 15px;
}

.header_list {
    margin-right: 250px;
}

.list_links {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    column-gap: 40px;
    margin-right: 250px;
}

.logo {
    width: 72px;
    height: 81px;
}

.menu {
    width: 28px;
    height: 22px;
}
    
.icon-don, .icon-, .icon-adoption, .icon-maltraitance, .icon-check, .icon-check,
 .icon-user, .icon-map, .icon-coeur, .icon-search {
    width: 17px;
    height: 22px;
}

/* START : Stylisation de la banniere */

.banniere {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eb9118;
    column-gap: 40px;
    height: 56px;
}
    
.banniere_image {
    width: 30px;
    color: #fdf3ed;
}

.banniere_title {
    font-size: 16px;
    font-weight: 500px;
    color: #fdf3ed;
}

/* START : Stylisation de la cover */

.cover {
    
}
    
.cover_image {
    position: relative;
    width:100%;
    height: 550px;
}

.cover_container-texts {
    position: absolute;
    top:25%;
    right: 54%;
    color: #ffffff;
}

.cover_title {
    font-size: 58px;
    font-family: Amatic SC, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15%;
    margin-top: 30px;
    color: #fff;
}
    
.cover_introduction {
    font-size: 20px;
    font-family: Raleway, sans-serif;
    padding-left: 15%;
    margin-top: 10px;
    line-height: 1.5;
}

.button {
    display: inline-block;
    color: #222;
    margin-top: 25px;
    padding-left: 15%;
    border-radius: 32px;
    padding: 15px 30px;
    margin-left: 85px;
    font-weight: 600;
}
    
.button-white {
    background-color: #fff;
    transition: background-color 0.25s;
}

.button-white:hover {
    background-color: rgba(21, 10, 1, 0.998);
}

/* START : Stylisation du bloc adoption */

.bloc-adoption {
    display: flex;
    margin-bottom: 100px;
    background-color:#f6f4f3;
}
    
.bloc-adoption_container-texts,
.bloc-adoption_image {
    width: 60%;
}

.bloc-adoption_image {
    width: 950px;
    height: 650px;
    margin-top: 50px;
}

.bloc-adoption_title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-top: 50px;
}

.bloc-adoption_container-link{
    position: relative;
    margin-top: 70px;
}

.bloc-adoption_link {
    padding: 25px 40px;
    border-radius: 50px;
    font-weight: 600;
}
    

.bloc-adoption_link--orange {
    background-color: var(--color-orange);
    color: #ffffff;
}

.bloc-adoption_description {   
    font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    font-weight: 400;
    margin-top: 20px;
}
    
.bloc-adoption:nth-child(odd) {
    flex-direction: row-reverse;
}   

.bloc-adoption:nth-child(even) .bloc-adoption_container-texts {
    padding-right: 3%;
    
}
    
.bloc-adoption:nth-child(odd) .bloc-adoption_container-texts {
    padding-left: 3%;
}

    
    


    


 
    
    

    
    

    

    












    

    
/* 800px = tablette portrait 
@media screen and (max-width:800px) {
    .cover_flux {

    }
    
}
 */   


    




    












    


    
    
    



    
    


   



    

    







